<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <meta charset="UTF-8"/>
        <title>.:: Sistema de Gestión y Control de Abastecimiento de Combustible ::.</title>
        <link rel="shortcut icon" th:href="@{/images/Logos/logo.ico}" type="image/x-icon"/>
        <link rel="stylesheet" th:href="@{/css/styles/jqx.base.css}"/>
        <link rel="stylesheet" th:href="@{/css/jquery-ui.css}"/>
        <link rel="stylesheet" th:href="@{/css/jquery-confirm.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <link rel="stylesheet" th:href="@{/css/scaf.css}"/>
        <link rel="stylesheet" th:href="@{/css/grid.css}"/>
        <script th:src="@{/javascript/validacion.js}"></script>
        <script th:src="@{/javascript/theme.js}"></script>
        <script th:src="@{/javascript/jquery.min.js}"></script>
        <script th:src="@{/javascript/jquery-confirm.min.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxcore.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxmenu.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxsplitter.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxinput.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxpasswordinput.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxtooltip.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxbuttons.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxscrollbar.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxpanel.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxtree.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxvalidator.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxwindow.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxcombobox.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxdropdownlist.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxdropdownlist.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxscrollbar.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxlistbox.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxexpander.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxdata.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxdata.export.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxgrid.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxgrid.columnsresize.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxgrid.columnsreorder.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxgrid.pager.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxgrid.sort.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxgrid.filter.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxgrid.storage.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxgrid.selection.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxgrid.export.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxgrid.filter.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxgrid.edit.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxgrid.aggregates.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxgrid.grouping.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxnumberinput.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxcheckbox.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxmaskedinput.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxdatetimeinput.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxcalendar.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxradiobutton.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxnotification.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxpopover.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxfileupload.js}"></script>
        <script th:src="@{/javascript/jqwidgets/jqxexport.js}"></script>
        <script th:src="@{/javascript/jqwidgets/globalization/globalize.js}"></script>
        <script th:src="@{/javascript/jqwidgets/globalization/globalize.culture.es-PE.js}"></script>
        <script th:src="@{/javascript/demos.js}"></script>
        <script th:src="@{/javascript/pdfobject.min.js}"></script>
        <script th:src="@{/javascript/jszip.min.js}"></script>
        <script>
            $(document).ready(function () {
                var theme = getTheme();
                $("#div_MenuOpciones").jqxMenu({width: '100%', height: 30, showTopLevelArrows: true, keyboardNavigation: true});
                $("#div_MenuOpciones").css('visibility', 'visible');
                $("#div_MenuOpciones").jqxMenu('focus');
                //fn_mensaje();
                $("#div_Aviso").jqxNotification({width: "700", position: "top-right", opacity: 0.9, autoOpen: false, animationOpenDelay: 800, autoClose: true, autoCloseDelay: 10000, template: "info"});
                $("#div_Aviso").jqxNotification({width: "700", position: "top-right", opacity: 0.9, autoOpen: false, animationOpenDelay: 800, autoClose: true, autoCloseDelay: 10000, template: "info"});
                $("#div_Notificacion").jqxNotification({width: "auto", position: "top-right", opacity: 0.9, autoOpen: false, animationOpenDelay: 800, autoClose: false, autoCloseDelay: 3000, template: "error"});
                $('#div_Notificacion').click(function () {
                    $('#div_Splitter').jqxSplitter('collapse');
                    var $contenidoAjax = $('#div_Contenido').html('<div style="text-align: center"><img src="/images/Fondos/cargando.gif" th:src="@{/images/Fondos/cargando.gif}"/></div>');
                    $.ajax({
                        type: "POST",
                        url: "../Decretos",
                        data: {mode: 'documentoDecretado'},
                        success: function (data) {
                            $contenidoAjax.html(data);
                        }
                    });
                });
                var posicionX, posicionY;
                var ancho = ($(window).width() * .8);
                var alto = ($(window).height() - 100);
                posicionX = ($(window).width() - ancho) / 2;
                posicionY = ($(window).height() - alto) / 2;
                $('#div_Reporte').jqxWindow({
                    position: {x: posicionX, y: posicionY},
                    width: ancho, height: alto, resizable: true,
                    initContent: function () {
                    }
                });
                $('#div_Reporte').on('close', function (event) {
                    $('#div_ReporteViewer').contents().empty();
                    $('#div_ReporteViewer').attr('src', '');
                });
            });
            function fn_mensaje() {
                var interval = setInterval(function () {
                    $.ajax({
                        type: "POST",
                        url: "../Decretos",
                        data: {mode: 'C'},
                        success: function (data) {
                            if (parseInt(data) > 0) {
                                $("#div_Notificacion").jqxNotification("closeLast");
                                $('#div_Notificacion').html("USTED TIENE " + parseInt(data) + " DOCUMENTOS(S) PENDIENTE(S) DE RESPUESTA");
                                $("#div_Notificacion").jqxNotification("open");
                            }
                        }
                    });
                }, 8000);
            }
        </script>
    </head>
    <body>
        <section th:fragment="menuOpciones">
            <div id='div_MenuOpciones' style='visibility: hidden;'>
                <ul>
                    <li><a th:onclick="fn_MenuPrincipal();">Home</a> </li>
                    <li th:each="modulo : ${session.objModulos}">
                        <span th:text="${modulo.nombre}"> </span>
                        <ul style='width: 250px;'>
                            <li  th:each="menu : ${session.objMenus}" th:if="${modulo.modulo == menu.modulo}">
                                <a th:onclick="javascript: fn_CargarMenu([[${menu.servlet}]],[[${menu.modo}]])">
                                    <span  th:text="${menu.nombre}">Opcion</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="2" > 
                        <form method="POST" th:action="@{/logout}">
                            <a href="#" onclick="this.parentNode.submit();" style="font-weight: bold; color: red">SALIR</a>
                        </form>
                    </li>
                </ul>
            </div>
            <div id="div_Aviso"></div>
            <div id="div_Notificacion"></div>
        </section>
        <section th:fragment="logoPresentacion">
            <div style="align-content: center; padding: 100px">
                <center> 
                    <div>
                        <img src="../static/images/Logos/logo.png" width="400px" height="400px" th:src="@{images/Logos/logo.png}"/>
                    </div>
                    <div class="copyright">
                        Sistema de Gestión y Control de Abastecimiento de Combustible
                    </div>
                </center>
            </div>
        </section>
        <section th:fragment="reportes">
            <div id="div_Reporte" style="display: none">
                <div>
                    <div id="div_ReporteTitulo">Reporte</div>
                </div>
                <div>
                    <div style="width:100%; height:100%;">
                        <iframe id="div_ReporteViewer" name="div_ReporteViewer" style="width:100%; height:100%;"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>