<script type="text/javascript">
    var periodo = $("#cbo_Periodo").val();
    var tipoAsignacion = $("#cbo_TipoAsignacion").val();
    var brigada = $("#cbo_Brigadas").val();
    var modeCNV = null;
    var codigo = null;
    $(document).ready(function () {
        //DEFINIMOS LOS ESTILOS DE LAS GRILLAS
        var cellclass = function (row, datafield, value, rowdata) {
            if (datafield === "total" || datafield === "totalDemandaGlobal") {
                return "RowBold";
            }
            if (datafield === "precio") {
                return "RowBlue";
            }
            if (datafield === "cantidad") {
                return "RowBrown";
            }
            if (datafield === "demandaGlobal") {
                return "RowPurple";
            }
        };
        //PARA LA GRILLA DE LA CABECERA
        $("#div_GrillaCNV").jqxGrid({
            width: '99.8%',
            height: ($(window).height() - 90),
            autoheight: false,
            autorowheight: false,
            altrows: true,
            sortable: true,
            pageable: true,
            filterable: true,
            autoshowfiltericon: true,
            columnsresize: true,
            showfilterrow: true,
            editable: false,
            showtoolbar: true,
            statusbarheight: 25,
            rendertoolbar: function (toolbar) {
                // appends buttons to the status bar.
                var container = $("<div style='overflow: hidden; position: relative; margin: 1px;'></div>");
                var addButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 2px;' src='../images/Botones/nuevo42.gif' th:src='@{/images/Botones/nuevo42.gif' width=18 height=18 /><span style='margin-left: 4px; position: relative; top: -3px;'> </span></div>");
                var reloadButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 2px;' src='../images/Botones/refresh42.gif' th:src='@{/images/Botones/refresh42.gif' width=18 height=18/><span style='margin-left: 4px; position: relative; top: -3px;'> </span></div>");
                var exportButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 2px;' src='../images/Botones/pauf42.gif' th:src='@{/images/Botones/pauf42.gif' width=18 height=18/><span style='margin-left: 4px; position: relative; top: -3px;'> </span></div>");
                var ButtonReporte = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 2px;' src='../images/Botones/printer42.gif' th:src='@{/images/Botones/printer42.gif' width=18 height=18/><span style='margin-left: 4px; position: relative; top: -3px;'> </span></div>");
                container.append(addButton);
                container.append(reloadButton);
                container.append(exportButton);
                container.append(ButtonReporte);
                toolbar.append(container);
                addButton.jqxButton({width: 30, height: 22});
                addButton.jqxTooltip({position: 'bottom', content: "Nuevo Registro"});
                reloadButton.jqxButton({width: 30, height: 22});
                reloadButton.jqxTooltip({position: 'bottom', content: "Actualiza Pantalla"});
                exportButton.jqxButton({width: 30, height: 22});
                exportButton.jqxTooltip({position: 'bottom', content: "Exportar Datos"});
                ButtonReporte.jqxButton({width: 30, height: 22});
                ButtonReporte.jqxTooltip({position: 'bottom', content: "Reporte"});
                // Adicionar un Nuevo Registro en la Cabecera.
                addButton.click(function (event) {
                    modeCNV = 'I';
                    codigo = 0;
                    $("#cbo_Dependencia").jqxDropDownList('setContent', "Seleccione");
                    $("#cbo_Vehiculo").jqxDropDownList('setContent', "Seleccione");
                    $("#cbo_TipoCombustible").jqxDropDownList('setContent', "Seleccione");
                    $("#cbo_Dependencia").jqxDropDownList('setContent', "Seleccione");
                    $('#div_Precio').val(0);
                    $('#div_Cantidad').val(0);
                    $('#div_DemandaGlobal').val(0);
                    $('#div_VentanaCNV').jqxWindow({isModal: true, modalOpacity: 0.8});
                    $('#div_VentanaCNV').jqxWindow('open');
                });
                // Recarga la Data en la Grilla
                reloadButton.click(function (event) {
                    fn_RefrescarCNV();
                });
                //export to excel
                exportButton.click(function (event) {
                    $("#div_GrillaCNV").jqxGrid('exportdata', 'xls', 'CNVListadoInsumos');
                });
                //reporte
                ButtonReporte.click(function (event) {
                    $('#div_Reporte').jqxWindow({isModal: true, modalOpacity: 0.9});
                    $('#div_Reporte').jqxWindow('open');
                });
            },
            columns: [{
                    text: 'N°', sortable: false, filterable: false, editable: false,
                    groupable: false, draggable: false, resizable: false, align: 'center',
                    datafield: '', columntype: 'number', width: '3%', pinned: true,
                    cellsrenderer: function (row, column, value) {
                        return "<div style='margin: 6px; text-align: center;'>" + (value + 1) + "</div>";
                    }
                },
                {text: 'DEPENDENCIA', dataField: 'dependencia', columngroup: 'Titulo', filtertype: 'list', width: '10%', align: 'center', cellsAlign: 'left'},
                {text: 'VEHÍCULO', dataField: 'vehiculo', columngroup: 'Titulo', width: '12%', align: 'center', cellsAlign: 'center'},
                {text: 'TIPO COMBUSTIBLE', dataField: 'tipoCombustible', columngroup: 'Titulo', filtertype: 'list', width: '15%', align: 'center', cellsAlign: 'left'},
                {text: 'PRECIO', dataField: 'precio', columngroup: 'Titulo', width: '10%', align: 'center', cellsAlign: 'right', cellsFormat: 'f2', cellclassname: cellclass},
                {text: 'CANTIDAD', dataField: 'cantidad', columngroup: 'Titulo', width: '9%', align: 'center', cellsAlign: 'right', cellsFormat: 'f2', cellclassname: cellclass},
                {text: 'TOTAL', dataField: 'total', columngroup: 'Titulo', width: '13%', align: 'center', cellsAlign: 'right', cellsFormat: 'f2', cellclassname: cellclass},
                {text: 'D GLOBAL', dataField: 'demandaGlobal', columngroup: 'Titulo', width: '9%', align: 'center', cellsAlign: 'right', cellsFormat: 'f2', cellclassname: cellclass},
                {text: 'TOTAL D GLOBAL', dataField: 'totalDemandaGlobal', columngroup: 'Titulo', width: '13%', align: 'center', cellsAlign: 'right', cellsFormat: 'f2', cellclassname: cellclass},
                {text: 'ESTADO', dataField: 'estado', columngroup: 'Titulo', filtertype: 'list', width: '6%', align: 'center', cellsAlign: 'center'}
            ],
            columngroups: [
                {text: '<strong>LISTADO DE INSUMOS</strong>', name: 'Titulo', align: 'center'}
            ]
        });
        // create context menu
        var contextMenu = $("#div_ContextMenuCNV").jqxMenu({width: 200, height: 85, autoOpenPopup: false, mode: 'popup'});
        $("#div_GrillaCNV").on('contextmenu', function () {
            return false;
        });
        // handle context menu clicks.
        $("#div_GrillaCNV").on('rowclick', function (event) {
            if (event.args.rightclick) {
                $("#div_GrillaCNV").jqxGrid('selectrow', event.args.rowindex);
                var scrollTop = $(window).scrollTop();
                var scrollLeft = $(window).scrollLeft();
                contextMenu.jqxMenu('open', parseInt(event.args.originalEvent.clientX) + 5 + scrollLeft, parseInt(event.args.originalEvent.clientY) + 5 + scrollTop);
                return false;
            }
        });
        $("#div_ContextMenuCNV").on('itemclick', function (event) {
            var opcion = event.args;
            if (eventoFinal !== null || eventoFinal === '') {
                if ($.trim($(opcion).text()) === "Editar") {
                    modeCNV = 'U';
                    fn_EditarCNV();
                } else if ($.trim($(opcion).text()) === "Anular") {
                    $.confirm({
                        title: 'AVISO DEL SISTEMA',
                        content: 'Desea Anular este registro!',
                        theme: 'material',
                        animation: 'zoom',
                        closeAnimation: 'zoom',
                        type: 'red',
                        typeAnimated: true,
                        buttons: {
                            aceptar: {
                                text: 'Aceptar',
                                btnClass: 'btn-primary',
                                keys: ['enter', 'shift'],
                                action: function () {
                                    modeCNV = 'D';
                                    fn_GrabarDatosFinal();
                                }
                            },
                            cancelar: function () {
                            }
                        }
                    });
                } else if ($.trim($(opcion).text()) === "<-- Regresar") {
                    fn_RegresarSecundario();
                } else {
                    $.alert({
                        theme: 'material',
                        title: 'AVISO DEL SISTEMA',
                        content: 'No hay Opcion a Mostar',
                        animation: 'zoom',
                        closeAnimation: 'zoom',
                        type: 'orange',
                        typeAnimated: true
                    });
                }
            } else {
                $.alert({
                    theme: 'material',
                    title: 'AVISO DEL SISTEMA',
                    content: 'Debe Seleccionar un Registro',
                    animation: 'zoom',
                    closeAnimation: 'zoom',
                    type: 'red',
                    typeAnimated: true
                });
            }
        });
        //Seleccionar un Registro de la Cabecera
        $("#div_GrillaCNV").on('rowselect', function (event) {
            var args = event.args;
            var row = $("#div_GrillaCNV").jqxGrid('getrowdata', args.rowindex);
            codigo = row['codigo'];
            $("#cbo_Dependencia").jqxDropDownList('selectItem', codigo.substring(0, 1));
            $("#cbo_Vehiculo").jqxDropDownList('selectItem', codigo.substring(2, 3));
            $('#div_Precio').val(parseFloat(row['precio']));
            $('#div_Cantidad').val(parseFloat(row['cantidad']));
            $('#div_DemandaGlobal').val(parseFloat(row['demandaGlobal']));
            $("#cbo_TipoCombustible").jqxDropDownList('selectItem', codigo.substring(4, 5));
        });
        //CREA LOS ELEMENTOS DE LAS VENTANAS
        var customButtonsDemo = (function () {
            function _createElements() {
                //INICIA LOS VALORES DE LA VENTANA
                var posicionX, posicionY;
                var ancho = 550;
                var alto = 210;
                posicionX = ($(window).width() / 2) - (ancho / 2);
                posicionY = ($(window).height() / 2) - (alto / 2);
                $('#div_VentanaCNV').jqxWindow({
                    position: {x: posicionX, y: posicionY},
                    width: ancho, height: alto, resizable: false,
                    cancelButton: $('#btn_CancelarFinal'),
                    initContent: function () {
                        $("#cbo_Dependencia").jqxDropDownList({animationType: 'fade', width: 380, dropDownWidth: 450, height: 20});
                        $("#cbo_Vehiculo").jqxDropDownList({animationType: 'fade', width: 380, dropDownWidth: 450, height: 20});
                        $('#cbo_Vehiculo').on('change', function () {
                            fn_cargarComboAjax("#cbo_TipoCombustible", {mode: 'tipoCombustibleByVehiculo', codigo3: $('#cbo_Vehiculo').val()});
                        });
                        $("#cbo_TipoCombustible").jqxDropDownList({animationType: 'fade', width: 380, dropDownWidth: 450, height: 20});
                        $("#div_Precio").jqxNumberInput({width: 120, height: 20, max: 999999999, digits: 9, decimalDigits: 2});
                        $('#div_Precio').on('textchanged', function (event) {
                            fn_VerTotal();
                        });
                        $("#div_Cantidad").jqxNumberInput({width: 120, height: 20, max: 999999999, digits: 9, decimalDigits: 2});
                        $('#div_Cantidad').on('textchanged', function (event) {
                            fn_VerTotal();
                        });
                        $("#div_Total").jqxNumberInput({width: 120, height: 20, max: 999999999, digits: 9, decimalDigits: 2, disabled: true});
                        $("#div_DemandaGlobal").jqxNumberInput({width: 120, height: 20, max: 999999999, digits: 9, decimalDigits: 2});
                        $('#div_DemandaGlobal').on('textchanged', function (event) {
                            fn_VerTotal();
                        });
                        $("#div_TotalDemandaGlobal").jqxNumberInput({width: 120, height: 20, max: 999999999, digits: 9, decimalDigits: 2, disabled: true});
                        $('#btn_CancelarFinal').jqxButton({width: '65px', height: 25});
                        $('#btn_GuardarFinal').jqxButton({width: '65px', height: 25});
                        $('#btn_GuardarFinal').on('click', function (event) {
                            fn_GrabarDatosCNV();
                        });
                    }
                });
                ancho = 400;
                alto = 105;
                posicionX = ($(window).width() / 2) - (ancho / 2);
                posicionY = ($(window).height() / 2) - (alto / 2);
                $('#div_ReporteCNV').jqxWindow({
                    position: {x: posicionX, y: posicionY},
                    width: ancho, height: alto, resizable: false,
                    cancelButton: $('#btn_CerrarImprimir'),
                    initContent: function () {
                        $("#div_PROG0001").jqxRadioButton({width: 200, height: 20});
                        $('#div_PROG0001').on('checked', function (event) {
                            reporte = 'PROG0013';
                        });
                        $("#div_PROG0002").jqxRadioButton({width: 200, height: 20});
                        $('#div_PROG0002').on('checked', function (event) {
                            reporte = 'PROG0002';
                        });
                        $('#btn_CerrarImprimir').jqxButton({width: '65px', height: 25});
                        $('#btn_Imprimir').jqxButton({width: '65px', height: 25});
                        $('#btn_Imprimir').on('click', function (event) {
                            var msg = "";
                            switch (reporte) {
                                case "PROG0002":
                                    break;
                                case "PROG0013":
                                    break;
                                default:
                                    msg += "Debe selecciona una opción.<br>";
                                    break;
                            }
                            if (msg === "") {
                                var url = '../Reportes?reporte=' + reporte + '&periodo=' + periodo + '&unidadOperativa=' + unidadOperativa + '&tipoAsignacion=' + tipoAsignacion + '&codigo=' + codigo;
                                window.open(url, '_blank');
                            } else {
                                $.alert({
                                    theme: 'material',
                                    title: 'AVISO DEL SISTEMA',
                                    content: msg,
                                    animation: 'zoom',
                                    closeAnimation: 'zoom',
                                    type: 'red',
                                    typeAnimated: true
                                });
                            }
                        });
                    }
                });
            }
            return {init: function () {
                    _createElements();
                }
            };
        }());
        $(document).ready(function () {
            customButtonsDemo.init();
            fn_RefrescarCNV();
            fn_cargarComboAjax("#cbo_Dependencia", {mode: 'dependenciaByBrigada', codigo: brigada});
            fn_cargarComboAjax("#cbo_Vehiculo", {mode: 'vehiculosByPeriodoBrigada', codigo: periodo, codigo3: brigada});
        });
        //FUNCION PARA REFRESCAR LA PANTALLA
        function fn_RefrescarCNV() {
            var source = {
                dataType: "json",
                datafields: [
                    {name: 'codigo', type: "string"},
                    {name: 'dependencia', type: "number"},
                    {name: 'vehiculo', type: "string"},
                    {name: 'tipoCombustible', type: "string"},
                    {name: 'precio', type: "number"},
                    {name: 'cantidad', type: "number"},
                    {name: 'total', type: "number"},
                    {name: 'demandaGlobal', type: "number"},
                    {name: 'totalDemandaGlobal', type: "number"},
                    {name: 'estado', type: "string"}
                ],
                id: 'codigo',
                url: "../ProgramacionCNVDetalle",
                data: {mode: 'G', periodo: periodo, tipoAsignacion: tipoAsignacion, brigada: brigada, eventoPrincipal: eventoPrincipal, eventoFinal: eventoFinal}
            };
            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#div_GrillaCNV").jqxGrid({source: dataAdapter});
        }
        //FUNCION PARA CARGAR VENTANA PARA EDITAR REGISTRO
        function fn_EditarCNV() {
            $('#div_VentanaCNV').jqxWindow({isModal: true, modalOpacity: 0.8});
            $('#div_VentanaCNV').jqxWindow('open');
        }
        //FUNCION PARA GRABAR LOS DATOS DE LA VENTANA PRINCIPAL
        function fn_GrabarDatosCNV() {
            var dependencia = $("#cbo_Dependencia").val();
            var vehiculo = $("#cbo_Vehiculo").val();
            var tipoCombustible = $("#cbo_TipoCombustible").val();
            var precio = $("#div_Precio").val();
            var cantidad = $("#div_Cantidad").val();
            var demandaGlobal = $("#div_DemandaGlobal").val();
            $.ajax({
                type: "GET",
                url: "../IduProgramacionCNV",
                data: {mode: modeCNV, periodo: periodo, tipoAsignacion: tipoAsignacion, brigada: brigada,
                    eventoPrincipal: eventoPrincipal, eventoFinal: eventoFinal, codigo: codigo, dependencia: dependencia,
                    vehiculo: vehiculo, tipoCombustible: tipoCombustible, precio: precio, cantidad: cantidad, demandaGlobal: demandaGlobal},
                success: function (data) {
                    msg = data;
                    if (msg === "GUARDO") {
                        $.confirm({
                            title: 'AVISO DEL SISTEMA',
                            content: 'Datos procesados correctamente!!',
                            type: 'green',
                            typeAnimated: true,
                            autoClose: 'cerrarAction|1000',
                            buttons: {
                                cerrarAction: {
                                    text: 'Cerrar',
                                    action: function () {
                                        $('#div_VentanaCNV').jqxWindow('close');
                                        fn_RefrescarCNV();
                                    }
                                }
                            }
                        });
                    } else {
                        $.alert({
                            theme: 'material',
                            title: 'AVISO DEL SISTEMA',
                            content: msg,
                            animation: 'zoom',
                            closeAnimation: 'zoom',
                            type: 'red',
                            typeAnimated: true
                        });
                    }
                }
            });
        }
        function fn_VerTotal() {
            var total = (parseFloat($("#div_Precio").val())) * (parseFloat($("#div_Cantidad").val()));
            var totalDemandaAdicional = (parseFloat($("#div_Precio").val())) * (parseFloat($("#div_DemandaGlobal").val()));
            $("#div_Total").val(parseFloat(total).toFixed(2));
            $("#div_TotalDemandaGlobal").val(parseFloat(totalDemandaAdicional).toFixed(2));
        }
        function fn_RegresarSecundario() {
            if (nivel === 0) {
                fn_CargarBusqueda();
            } else {
                $("#div_GrillaCNV").remove();
                $("#div_VentanaCNV").remove();
                $("#div_ContextMenuCNV").remove();
                $("#div_ReporteCNV").remove();
                $("#div_GrillaEventoSecundario").remove();
                $("#div_VentanaEventoSecundario").remove();
                $("#div_ContextMenuEventoSecundario").remove();
                $("#div_ReporteEventoSecundario").remove();
                var $contenidoAjax = $('#div_CNV').html('<img src="../images/Fondos/cargando.gif">');
                $.ajax({
                    type: "GET",
                    url: "../ProgramacionEventoPrincipal",
                    data: {mode: 'programacionEventoSecundario'},
                    success: function (data) {
                        $contenidoAjax.html(data);
                    }
                });
            }
        }
    });
</script>
<div id="div_CNV">
    <div id="div_GrillaCNV"></div>
    <div id="div_VentanaCNV" style="display: none">
        <div>
            <span style="float: left">REGISTRO DE INSUMOS</span>
        </div>
        <div style="overflow: hidden">
            <form id="frm_CNV" name="frm_CNV" method="post" >
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="inputlabel">Dependencia : </td>
                        <td colspan="3"><select id="cbo_Dependencia" name="cbo_Dependencia">
                                <option value="0">Seleccione</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="inputlabel">Vehículo : </td>
                        <td colspan="3"><select id="cbo_Vehiculo" name="cbo_Vehiculo">
                                <option value="0">Seleccione</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="inputlabel">Tipo Combustible : </td>
                        <td colspan="3"><select id="cbo_TipoCombustible" name="cbo_TipoCombustible">
                                <option value="0">Seleccione</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="inputlabel">Precio : </td>
                        <td colspan="3"><div id="div_Precio"></div></td>
                    </tr>
                    <tr>
                        <td class="inputlabel">Cantidad : </td>
                        <td><div id="div_Cantidad"></div></td>
                        <td class="inputlabel">Total : </td>
                        <td><div id="div_Total"></div></td>
                    </tr>
                    <tr>
                        <td class="inputlabel">Demanda Global : </td>
                        <td><div id="div_DemandaGlobal"></div></td>
                        <td class="inputlabel">Total : </td>
                        <td><div id="div_TotalDemandaGlobal"></div></td>
                    </tr>
                    <tr>
                        <td class="Summit" colspan="4">
                            <div>
                                <input type="button" id="btn_GuardarFinal"  value="Guardar" style="margin-right: 20px"/>
                                <input type="button" id="btn_CancelarFinal" value="Cancelar" style="margin-right: 20px"/> 
                            </div>
                        </td>
                    </tr>
                </table>  
            </form>
        </div>
    </div>
    <div id='div_ContextMenuCNV' style='display: none; '>
        <ul>
            <li style="color: blue; font-weight: bold;">Editar</li>
            <li style="color: brown; font-weight: bold;">Anular</li>
            <li type='separator'></li>
            <li><-- Regresar</li>
        </ul>
    </div>
    <div id="div_ReporteCNV" style="display: none">
        <div>
            <span style="float: left">LISTADO DE REPORTES</span>
        </div>
        <div style="overflow: hidden">
            <div id='div_PROG0001'>Resumen</div>
            <div id='div_PROG0002'>CNV</div>
            <div class="Summit">
                <input type="submit" id="btn_Imprimir" name="btn_Imprimir" value="Ver" style="margin-right: 20px"/>
                <input type="button" id="btn_CerrarImprimir" name="btn_CerrarImprimir" value="Cerrar" style="margin-right: 20px"/>
            </div>
        </div>
    </div>
</div>
