<script>
    var codigo = null;
    var mode = null;
    var msg = "";
    $(document).ready(function () {
        var theme = getTheme();
        $("#div_Titulo").jqxExpander({theme: theme, width: '100%'});
        $("#cbo_Periodo").jqxComboBox({theme: theme, autoOpen: true, promptText: "Seleccione", width: 150, height: 25, dropDownWidth: 250});
        $("#cbo_TipoAsignacion").jqxComboBox({theme: theme, autoOpen: true, promptText: "Seleccione", width: 250, height: 25, dropDownWidth: 350});
        $("#cbo_TipoCombustible").jqxComboBox({theme: theme, autoOpen: true, promptText: "Seleccione", width: 250, height: 25, dropDownWidth: 350});
        var fecha = new Date();
        $("#cbo_Periodo").jqxComboBox('selectItem', fecha.getFullYear());
        $('#cbo_Periodo').on('change', function () {
            fn_cargarComboxCabecera("#cbo_TipoAsignacion", {mode: 'tipoAsignacionByPeriodo', codigo: $('#cbo_Periodo').val()});
        });
        $('#cbo_TipoAsignacion').on('change', function () {
            fn_CargarBusqueda();
        });
        $('#cbo_TipoCombustible').on('change', function () {
            fn_CargarBusqueda();
        });
        fn_cargarComboxCabecera("#cbo_TipoCombustible", {mode: 'tipoCombustible'});
        fn_cargarComboxCabecera("#cbo_TipoAsignacion", {mode: 'tipoAsignacionByPeriodo', codigo: $('#cbo_Periodo').val()});
        //DEFINIMOS LOS ESTILOS DE LAS GRILLAS
        var cellclass = function (row, datafield, value, rowdata) {
            if (datafield === "importe") {
                return "RowBold";
            }
            if (datafield === "brigadaNombre") {
                return "RowBlue";
            }
            if (datafield === "cantidad") {
                return "RowGreen";
            }
            if (datafield === "precio") {
                return "RowBrown";
            }
        };
        //DEFINIMOS LOS CAMPOS Y DATOS DE LA GRILLA
        $("#div_GrillaPrincipal").jqxGrid({
            width: '99.8%',
            height: ($(window).height() - 90),
            autoheight: false,
            autorowheight: false,
            altrows: true,
            sortable: true,
            pageable: true,
            filterable: true,
            autoshowfiltericon: true,
            columnsresize: true,
            showfilterrow: true,
            showtoolbar: true,
            editable: false,
            showstatusbar: true,
            showaggregates: true,
            statusbarheight: 25,
            rendertoolbar: function (toolbar) {
                // ADICIONAMOS BOTONES A LA BARRA DE ESTADOS
                var container = $("<div style='overflow: hidden; position: relative; margin: 1px;'></div>");
                var ButtonNuevo = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 2px;' src='images/Botones/nuevo42.gif' th:src='@{images/Botones/nuevo42.gif' width=18 height=18 /><span style='margin-left: 4px; position: relative; top: -3px;'> </span></div>");
                var ButtonExportar = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 2px;' src='images/Botones/pauf42.gif' th:src='@{images/Botones/pauf42.gif' width=18 height=18/><span style='margin-left: 4px; position: relative; top: -3px;'> </span></div>");
                var ButtonReporte = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 2px;' src='images/Botones/printer42.gif' th:src='@{images/Botones/printer42.gif' width=18 height=18/><span style='margin-left: 4px; position: relative; top: -3px;'> </span></div>");
                container.append(ButtonNuevo);
                container.append(ButtonExportar);
                container.append(ButtonReporte);
                toolbar.append(container);
                ButtonNuevo.jqxButton({width: 30, height: 22});
                ButtonNuevo.jqxTooltip({position: 'bottom', content: "Nuevo Registro"});
                ButtonExportar.jqxButton({width: 30, height: 22});
                ButtonExportar.jqxTooltip({position: 'bottom', content: "Exportar Datos"});
                ButtonReporte.jqxButton({width: 30, height: 22});
                ButtonReporte.jqxTooltip({position: 'bottom', content: "Reporte"});
                //ASIGNAMOS LAS FUNCIONES PARA EL BOTON NUEVO
                ButtonNuevo.click(function (event) {
                    mode = 'I';
                    codigo = '0';
                    msg = "";
                    msg += fn_validaCombos('#cbo_TipoAsignacion', "Seleccione el Tipo de Asignación");
                    msg += fn_validaCombos('#cbo_TipoCombustible', "Seleccione el Tipo de Combustible");
                    if (msg === "") {
                        $("#cbo_Brigadas").jqxDropDownList({disabled: false});
                        $("#cbo_Brigadas").jqxDropDownList('setContent', "Seleccione");
                        $("#div_Precio").val(0);
                        $("#div_Cantidad").val(0);
                        $("#div_Importe").val(0);
                        $('#div_VentanaPrincipal').jqxWindow({isModal: true, modalOpacity: 0.8});
                        $('#div_VentanaPrincipal').jqxWindow('open');
                    } else {
                        $.alert({
                            theme: 'material',
                            title: 'AVISO DEL SISTEMA',
                            content: msg,
                            animation: 'zoom',
                            closeAnimation: 'zoom',
                            type: 'orange',
                            typeAnimated: true
                        });
                    }
                });
                //ASIGNAMOS LAS FUNCIONES PARA EL BOTON EXPORTAR
                ButtonExportar.click(function (event) {
                    $("#div_GrillaPrincipal").jqxGrid('exportdata', 'xlsx', 'TipoAsignacion');
                });
                //ASIGNAMOS LAS FUNCIONES PARA EL BOTON REPORTE
                ButtonReporte.click(function (event) {
                    var reporte = "PROG0001";
                    var periodo = $("#cbo_Periodo").val();
                    var tipoAsignacion = $("#cbo_TipoAsignacion").val();
                    var url = "Reporte?reporte=" + reporte + "&periodo=" + periodo + "&codigo=" + tipoAsignacion;
                    $('#div_ReporteViewer').attr('src', url + "&page=hsn#toolbar=1");
                    $('#div_Reporte').jqxWindow({isModal: true, modalOpacity: 0.4});
                    $('#div_Reporte').jqxWindow('open');
                });
            },
            columns: [
                {text: 'N°', align: 'center', sortable: false, filterable: false, editable: false, groupable: false, draggable: false, resizable: false,
                    datafield: '', columntype: 'number', width: '2%', pinned: true, cellsrenderer: function (row, column, value) {
                        return "<div style='margin: 6px; text-align: center;'>" + (value + 1) + "</div>";
                    }
                },
                {text: 'BRIGADA', dataField: 'brigadaNombre', width: '43%', align: 'center', cellsAlign: 'left', cellclassname: cellclass, aggregates: [{'<b>Totales : </b>':
                                    function () {
                                        return "";
                                    }}]},
                {text: 'CANTIDAD (GLNS)', dataField: 'cantidad', width: '15%', align: 'center', cellsAlign: 'right', cellsFormat: 'f2', cellclassname: cellclass, aggregates: ['sum']},
                {text: 'PRECIO (S/)', dataField: 'precio', width: '15%', align: 'center', cellsAlign: 'right', cellsFormat: 'f2', cellclassname: cellclass, aggregates: ['avg']},
                {text: 'IMPORTE', dataField: 'importe', width: '15%', align: 'center', cellsAlign: 'right', cellsFormat: 'f2', cellclassname: cellclass, aggregates: ['sum']},
                {text: 'ESTADO', dataField: 'estado', filtertype: 'checkedlist', width: '10%', align: 'center', cellsAlign: 'center'}
            ]
        });
        // DEFINIMOS EL MENU CONTEXTUAL
        var contextMenu = $("#div_ContextMenu").jqxMenu({width: 200, height: 90, autoOpenPopup: false, mode: 'popup'});
        $("#div_GrillaPrincipal").on('contextmenu', function () {
            return false;
        });
        // HABILITAMOS LA OPCION DE CLICK DEL MENU CONTEXTUAL.
        $("#div_GrillaPrincipal").on('rowclick', function (event) {
            if (event.args.rightclick) {
                $("#div_GrillaPrincipal").jqxGrid('selectrow', event.args.rowindex);
                var scrollTop = $(window).scrollTop();
                var scrollLeft = $(window).scrollLeft();
                contextMenu.jqxMenu('open', parseInt(event.args.originalEvent.clientX) + 5 + scrollLeft, parseInt(event.args.originalEvent.clientY) + 5 + scrollTop);
                return false;
            }
        });
        //DEFINIMOS LOS EVENTOS SEGUN LA OPCION DEL MENU CONTEXTUAL
        $("#div_ContextMenu").on('itemclick', function (event) {
            var opcion = event.args;
            if (codigo === null || codigo === '') {
                $.alert({
                    theme: 'material',
                    title: 'AVISO DEL SISTEMA',
                    content: 'Debe Seleccionar un Registro',
                    animation: 'zoom',
                    closeAnimation: 'zoom',
                    type: 'orange',
                    typeAnimated: true
                });
            } else {
                if ($.trim($(opcion).text()) === "Editar") {
                    mode = 'U';
                    fn_EditarRegistro();
                } else if ($.trim($(opcion).text()) === "Activar") {
                    $.confirm({
                        title: 'AVISO DEL SISTEMA',
                        content: 'Desea Activar esta Brigada!',
                        theme: 'material',
                        animation: 'zoom',
                        closeAnimation: 'zoom',
                        type: 'blue',
                        typeAnimated: true,
                        buttons: {
                            aceptar: {
                                text: 'Aceptar',
                                btnClass: 'btn-primary',
                                keys: ['enter', 'shift'],
                                action: function () {
                                    mode = 'A';
                                    fn_GrabarDatos();
                                }
                            },
                            cancelar: function () {
                            }
                        }
                    });
                } else if ($.trim($(opcion).text()) === "Desactivar") {
                    $.confirm({
                        title: 'AVISO DEL SISTEMA',
                        content: 'Desea Desactivar esta Brigada!',
                        theme: 'material',
                        animation: 'zoom',
                        closeAnimation: 'zoom',
                        type: 'red',
                        typeAnimated: true,
                        buttons: {
                            aceptar: {
                                text: 'Aceptar',
                                btnClass: 'btn-primary',
                                keys: ['enter', 'shift'],
                                action: function () {
                                    mode = 'D';
                                    fn_GrabarDatos();
                                }
                            },
                            cancelar: function () {
                            }
                        }
                    });
                } else {
                    $.alert({
                        theme: 'material',
                        title: 'AVISO DEL SISTEMA',
                        content: 'Opción NO VALIDA!!',
                        animation: 'zoom',
                        closeAnimation: 'zoom',
                        type: 'red',
                        typeAnimated: true
                    });
                }
            }
        });
        //SELECCIONAMOS UN REGISTRO DE LA GRILLA
        $("#div_GrillaPrincipal").on('rowselect', function (event) {
            var args = event.args;
            var row = $("#div_GrillaPrincipal").jqxGrid('getrowdata', args.rowindex);
            codigo = row['brigada'];
            $("#cbo_Brigadas").jqxDropDownList('selectItem', codigo);
            $("#div_Precio").val(parseFloat(row['precio']));
            $("#div_Cantidad").val(parseFloat(row['cantidad']));
            $("#div_Importe").val(parseFloat(row['importe']));
            $("#cbo_Brigadas").jqxDropDownList({disabled: true});
        });
        //CREA LOS ELEMENTOS DE LAS VENTANAS
        var customButtonsDemo = (function () {
            function _createElements() {
                //INICIA LOS VALORES DE LA VENTANA
                var posicionX, posicionY;
                var ancho = 500;
                var alto = 190;
                posicionX = (($(window).width() - ancho) / 2);
                posicionY = (($(window).height() - alto) / 2);
                $('#div_VentanaPrincipal').jqxWindow({
                    position: {x: posicionX, y: posicionY},
                    width: ancho, height: alto, resizable: false,
                    cancelButton: $('#btn_Cancelar'),
                    initContent: function () {
                        $("#cbo_Brigadas").jqxDropDownList({animationType: 'fade', width: 380, dropDownWidth: 450, height: 25});
                        $("#div_Precio").jqxNumberInput({width: 120, height: 25, max: 999999999, digits: 9, decimalDigits: 2});
                        $('#div_Precio').on('textchanged', function (event) {
                            var total = (parseFloat($("#div_Precio").val())) * (parseFloat($("#div_Cantidad").val()));
                            $("#div_Importe").val(parseFloat(total).toFixed(2));
                        });
                        $("#div_Cantidad").jqxNumberInput({width: 120, height: 25, max: 999999999, digits: 9, decimalDigits: 2});
                        $('#div_Cantidad').on('textchanged', function (event) {
                            var total = (parseFloat($("#div_Precio").val())) * (parseFloat($("#div_Cantidad").val()));
                            $("#div_Importe").val(parseFloat(total).toFixed(2));
                        });
                        $("#div_Importe").jqxNumberInput({width: 120, height: 25, max: 999999999, digits: 9, decimalDigits: 2, disabled: true});
                        $('#btn_Cancelar').jqxButton({width: '65px', height: 30});
                        $('#btn_Guardar').jqxButton({width: '65px', height: 30});
                        $('#btn_Guardar').on('click', function () {
                            fn_GrabarDatos();
                        });
                    }
                });
            }
            return {init: function () {
                    _createElements();
                }
            };
        }());
        $(document).ready(function () {
            customButtonsDemo.init();
            fn_cargarComboAjax("#cbo_Brigadas", {mode: 'brigadas'});
        });
    });
    //FUNCION PARA ACTUALIZAR DATOS DE LA GRILLA
    function fn_CargarBusqueda() {
        msg = "";
        msg += fn_validaCombos('#cbo_TipoAsignacion', "Seleccione el Tipo de Asignación");
        msg += fn_validaCombos('#cbo_TipoCombustible', "Seleccione el Tipo de Combustible");
        if (msg === "") {
            var source = {
                dataType: "json",
                datafields: [
                    {name: 'brigada', type: "string"},
                    {name: 'brigadaNombre', type: "string"},
                    {name: 'cantidad', type: "number"},
                    {name: 'precio', type: "number"},
                    {name: 'importe', type: "number"},
                    {name: 'estado', type: "string"}
                ],
                id: 'codigo',
                url: "ProgramacionClaseIIITechosDetalle",
                data: {mode: 'G', periodo: $('#cbo_Periodo').val(), tipoAsignacion: $('#cbo_TipoAsignacion').val(), tipoCombustible: $('#cbo_TipoCombustible').val()}
            };
            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#div_GrillaPrincipal").jqxGrid({source: dataAdapter});
            $('#div_GrillaPrincipal').jqxGrid('clearselection');
        } else {
            $.alert({
                theme: 'material',
                title: 'AVISO DEL SISTEMA',
                content: msg,
                animation: 'zoom',
                closeAnimation: 'zoom',
                type: 'orange',
                typeAnimated: true
            });
        }
    }
    //FUNCION PARA CARGAR VENTANA PARA EDITAR REGISTRO
    function fn_EditarRegistro() {
        $('#div_VentanaPrincipal').jqxWindow({isModal: true});
        $('#div_VentanaPrincipal').jqxWindow('open');
    }
    //FUNCION PARA GRABAR LOS DATOS DE LA VENTANA PRINCIPAL
    function fn_GrabarDatos() {
        var periodo = $("#cbo_Periodo").val();
        var tipoAsignacion = $("#cbo_TipoAsignacion").val();
        var tipoCombustible = $("#cbo_TipoCombustible").val();
        if (mode === 'I')
            codigo = $("#cbo_Brigadas").val();
        var precio = $("#div_Precio").val();
        var cantidad = $("#div_Cantidad").val();
        $.ajax({
            type: "GET",
            url: "IduProgramacionClaseIIITechos",
            data: {mode: mode, periodo: periodo, tipoAsignacion: tipoAsignacion, tipoCombustible: tipoCombustible, brigada: codigo, precio: precio, cantidad: cantidad},
            success: function (data) {
                msg = data;
                if (msg === "GUARDO") {
                    $.confirm({
                        title: 'AVISO DEL SISTEMA',
                        content: 'Datos procesados correctamente!!',
                        type: 'green',
                        typeAnimated: true,
                        autoClose: 'cerrarAction|1000',
                        buttons: {
                            cerrarAction: {
                                text: 'Cerrar',
                                action: function () {
                                    $('#div_VentanaPrincipal').jqxWindow('close');
                                    fn_CargarBusqueda();
                                }
                            }
                        }
                    });
                } else {
                    $.alert({
                        theme: 'material',
                        title: 'AVISO DEL SISTEMA',
                        content: msg,
                        animation: 'zoom',
                        closeAnimation: 'zoom',
                        type: 'red',
                        typeAnimated: true
                    });
                }
            }
        });
    }
</script>
<div id='div_Titulo' style="border: none;">
    <div class="jqx-hideborder">PROGRAMACIÓN DE CLASE III - TECHOS</div>
    <div>
        <div id="div_Cabecera">
            <table class="navy">
                <tbody>
                    <tr> 
                        <td class="Titulo">Período : </td>
                        <td>
                            <select id="cbo_Periodo" name="cbo_Periodo">
                                <span th:each="periodo : ${session.objPeriodos}">
                                    <option th:value="${periodo.codigo}"><span th:text="${periodo.codigo}"> </span></option>
                                </span>
                            </select>
                        </td>
                        <td class="Titulo">Tipo Asignación : </td>
                        <td>
                            <select id="cbo_TipoAsignacion" name="cbo_TipoAsignacion">
                                <option value="0">Seleccione</option>
                            </select>
                        </td>
                        <td class="Titulo">Tipo Combustible : </td>
                        <td>
                            <select id="cbo_TipoCombustible" name="cbo_TipoCombustible">
                                <option value="0">Seleccione</option>
                            </select>
                        </td>
                        <td><a href="javascript: fn_CargarBusqueda();"><img src="images/Botones/refresh42.gif" alt="Buscar Datos" name="imgrefresh" width="30" height="28" border="0" id="imgrefresh"></a></td>
                        <td><a href="javascript: fn_MenuPrincipal();"><img src="images/Botones/exit42.gif" alt="Salir de pantalla" name="imgexit" width="30" height="28"  border="0" id="imgexit" /></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="div_GrillaPrincipal"></div>
    </div>
</div>
<div id="div_VentanaPrincipal" style="display: none">
    <div>
        <span style="float: left">REGISTRO DE PROGRAMACIÓN DE CLASE III - TECHOS</span>
    </div>
    <div style="overflow: hidden">
        <form id="frm_ProgramacionClaseIIITechos" name="frm_ProgramacionClaseIIITechos" method="post" >
            <table width="100%" border="0" cellspacing="0" cellpadding="0"> 
                <tr>
                    <td class="inputlabel">Brigada : </td>
                    <td>
                        <select id="cbo_Brigadas" name="cbo_Brigadas">
                            <option value="0">Seleccione</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="inputlabel">Precio : </td>
                    <td><div id="div_Precio"></div></td>
                </tr>
                <tr>
                    <td class="inputlabel">Cantidad : </td>
                    <td><div id="div_Cantidad"></div></td>
                </tr>
                <tr>
                    <td class="inputlabel">Importe : </td>
                    <td><div id="div_Importe"></div></td>
                </tr>
                <tr>
                    <td class="Summit" colspan="4">
                        <div>
                            <input type="button" id="btn_Guardar"  value="Guardar" style="margin-right: 20px"/>
                            <input type="button" id="btn_Cancelar" value="Cancelar" style="margin-right: 20px"/>
                        </div>
                    </td>
                </tr>
            </table>  
        </form>
    </div>
</div>
<div id='div_ContextMenu' style='display: none;'>
    <ul>
        <li style="font-weight: bold;">Editar</li>
        <li type='separator'></li>
        <li style="color: blue; font-weight: bold;">Activar</li>
        <li style="color: brown; font-weight: bold;">Desactivar</li>
    </ul>
</div>
