<script>
    var codigo = null;
    var select1 = 0;
    var periodoG = null;
    var brigadaG = null;
    var mesG = null;
    var tipoAsignacionG=null;
    var tipoCombustibleG=null;
    var mode = null;
    
    var mode2 = null;
    var select2 = 0;
    var dependenciaG=null;
    var vehiculoG=null;
    var flgEditable=null;
    var tituloDetalleG=null;
    
    var msg = "";
    $(document).ready(function () {
        var theme = getTheme();
        $("#div_Titulo").jqxExpander({theme: theme, width: '100%'});
        $("#cbo_Periodo").jqxComboBox({theme: theme, autoOpen: true, promptText: "Seleccione", width: 150, dropDownWidth: 150, height: 20});
        $("#cbo_Brigada").jqxComboBox({theme: theme, autoOpen: true, promptText: "Seleccione", width: 150, dropDownWidth: 150, height: 20});
        $("#cbo_Mes").jqxComboBox({theme: theme, autoOpen: true, promptText: "Seleccione", width: 150, dropDownWidth: 150, height: 20});
        $("#cbo_TipoAsignacion").jqxComboBox({theme: theme, autoOpen: true, promptText: "Seleccione", width: 150, dropDownWidth: 150, height: 20});
        var fecha = new Date();
        $("#cbo_TipoAsignacion").jqxDropDownList('clear');
        fn_cargarComboAjax("#cbo_TipoAsignacion", {mode: 'tipoAsignacionByPeriodo', codigo:fecha.getFullYear()});
        $("#cbo_Mes").jqxComboBox('selectItem', fecha.getMonth()+1);
        $("#cbo_Periodo").jqxComboBox('selectItem', fecha.getFullYear());
        $('#cbo_Periodo').on('change', function () {
            fn_cargarComboAjax("#cbo_TipoAsignacion", {mode: 'tipoAsignacionByPeriodo', codigo:$("#cbo_Periodo").val()});
        });
        $('#cbo_TipoAsignacion').on('change', function () {
            fn_CargarBusqueda();
        });
        $('#cbo_Mes').on('change', function () {
            fn_CargarBusqueda();
        });
        $('#cbo_Brigada').on('change', function () {
            fn_CargarBusqueda();
        });

        //DEFINIMOS LOS CAMPOS Y DATOS DE LA GRILLA
        $("#div_GrillaPrincipal").jqxGrid({
            width: '99.8%',
            height: ($(window).height() - 95),
            pageable: true,
            columnsresize: true,
            enabletooltips: true,
            altrows: false,
            editable: true,
            autoheight: false,
            autorowheight: false,
            showstatusbar: true,
            showaggregates: true,
            statusbarheight: 20,
            sortable: true,
            filterable: true,
            showtoolbar: true,
            rendertoolbar: function (toolbar) {
                // ADICIONAMOS BOTONES A LA BARRA DE ESTADOS
                var container = $("<div style='overflow: hidden; position: relative; margin: 1px;'></div>");
                var ButtonGuardar = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 2px;' src='/images/Botones/save42.gif' th:src='@{/images/Botones/save42.gif' width=18 height=18 /><span style='margin-left: 4px; position: relative; top: -3px;'> </span></div>");
                var ButtonExportar = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 2px;' src='/images/Botones/pauf42.gif' th:src='@{/images/Botones/pauf42.gif' width=18 height=18/><span style='margin-left: 4px; position: relative; top: -3px;'> </span></div>");
                var ButtonCerrar = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 2px;' src='/images/Botones/bien42.gif' th:src='@{/images/Botones/bien42.gif' width=18 height=18/><span style='margin-left: 4px; position: relative; top: -3px;'> </span></div>");
                container.append(ButtonGuardar);
                container.append(ButtonExportar);
                container.append(ButtonCerrar);
                toolbar.append(container);
                ButtonGuardar.jqxButton({width: 30, height: 22});
                ButtonGuardar.jqxTooltip({position: 'bottom', content: "Guardar Asignación"});
                ButtonExportar.jqxButton({width: 30, height: 22});
                ButtonExportar.jqxTooltip({position: 'bottom', content: "Exportar Datos"});
                ButtonCerrar.jqxButton({width: 30, height: 22});
                ButtonCerrar.jqxTooltip({position: 'bottom', content: "Cerrar Asignación"});
                //ASIGNAMOS LAS FUNCIONES PARA EL BOTON NUEVO
                ButtonGuardar.click(function (event) {
                    $.confirm({
                        title: 'AVISO DEL SISTEMA',
                        content: 'Desea Guardar los cambios de la Asignacion de Combustible!',
                        theme: 'material',
                        animation: 'zoom',
                        closeAnimation: 'zoom',
                        type: 'blue',
                        typeAnimated: true,
                        buttons: {
                            aceptar: {
                                text: 'Aceptar',
                                btnClass: 'btn-primary',
                                keys: ['enter', 'shift'],
                                action: function () {
                                    mode = 'S';
                                    fn_GrabarDatos();
                                }
                            },
                            cancelar: function () {
                            }
                        }
                    });
                });
                //ASIGNAMOS LAS FUNCIONES PARA EL BOTON EXPORTAR
                ButtonExportar.click(function (event) {
                    $("#div_GrillaPrincipal").jqxGrid('exportdata', 'xlsx', 'AsignacionCombustible');
                });
                ButtonCerrar.click(function (event) {
                    $.confirm({
                        title: 'AVISO DEL SISTEMA',
                        content: 'Desea Cerrar la Asignación de Combustible!',
                        theme: 'material',
                        animation: 'zoom',
                        closeAnimation: 'zoom',
                        type: 'red',
                        typeAnimated: true,
                        buttons: {
                            aceptar: {
                                text: 'Aceptar',
                                btnClass: 'btn-primary',
                                keys: ['enter', 'shift'],
                                action: function () {
                                    mode = 'C';
                                    fn_GrabarDatos();
                                }
                            },
                            cancelar: function () {
                            }
                        }
                    });
                });
            },
            columns: [
                {text: 'TIPO COMBUSTIBLE', datafield: 'tipoCombustible', editable: false, width: '34%', align: 'center', cellsAlign: 'center'},
                {text: 'CANT. SOLICITADA', datafield: 'solicitado', editable: false, width: '33%', align: 'center', cellsAlign: 'center'},
                {text: 'CANT. APROBADA', dataField: 'cantidad', editable: true, width: '33%', align: 'center', cellsAlign: 'center', cellclassname: 'cellclass', columntype: 'numberinput',
                        validation: function (cell, value) {
                                if (value < 0 || value > 999999) {
                                        return {result: false, message: "La cantidad debe estar en el intervalo de 0 a 999,999"};
                                }
                                return true;
                        },
                        createeditor: function (row, cellvalue, editor) {
                                editor.jqxNumberInput({decimalDigits: 0, digits: 6});
                        }
                }
            ]
        });
//        // DEFINIMOS EL MENU CONTEXTUAL
//        var contextMenu = $("#div_ContextMenu").jqxMenu({width: 200, height: 58, autoOpenPopup: false, mode: 'popup'});
//        $("#div_GrillaPrincipal").on('contextmenu', function () {
//            return false;
//        });
//        // HABILITAMOS LA OPCION DE CLICK DEL MENU CONTEXTUAL.
//        $("#div_GrillaPrincipal").on('rowclick', function (event) {
//            if (event.args.rightclick) {
//                $("#div_GrillaPrincipal").jqxGrid('selectrow', event.args.rowindex);
//                var scrollTop = $(window).scrollTop();
//                var scrollLeft = $(window).scrollLeft();
//                contextMenu.jqxMenu('open', parseInt(event.args.originalEvent.clientX) + 5 + scrollLeft, parseInt(event.args.originalEvent.clientY) + 5 + scrollTop);
//                return false;
//            }
//        });
//        
//        //DEFINIMOS LOS EVENTOS SEGUN LA OPCION DEL MENU CONTEXTUAL
//        $("#div_ContextMenu").on('itemclick', function (event) {
//            var opcion = event.args;
//        });
        //SELECCIONAMOS UN REGISTRO DE LA GRILLA
//        $("#div_GrillaPrincipal").on('rowselect', function (event) {
//            var args = event.args;
//            var row = $("#div_GrillaPrincipal").jqxGrid('getrowdata', args.rowindex);
//            select1=1;
//            periodoG = row['periodo'];
//            brigadaG = row['usuarioCreador'];
//            mesG = row['fechaCreador'];
//            tipoAsignacionG= row['usuarioCodigo'];
//            tipoCombustibleG= row['usuarioFecha'];
//            tituloDetalleG= row['periodo']+' / '+row['brigada']+' / '+row['mes']+' / '+
//                            row['tipoAsignacion']+' / '+row['tipoCombustible'];
//            console.log(row);
//        });
        //CREA LOS ELEMENTOS DE LAS VENTANAS
        var customButtonsDemo = (function () {
            function _createElements() {
                
            }
            return {init: function () {
                    _createElements();
                }
            };
        }());
        $(document).ready(function () {
            customButtonsDemo.init();
        });
    });

    
    //FUNCION PARA ACTUALIZAR DATOS DE LA GRILLA
    function fn_CargarBusqueda() {
        var source = {
            dataType: "json",
            datafields: [
                {name: 'periodo', type: "String"},
                {name: 'brigada', type: "String"},
                {name: 'mes', type: "String"},
                {name: 'tipoAsignacion', type: "String"},
                {name: 'tipoCombustible', type: "String"},
                {name: 'cantidad', type: "String"},
                {name: 'solicitado', type: "String"},
                {name: 'estado', type: "String"},
                {name: 'usuarioCreador', type: "String"},
                {name: 'fechaCreador', type: "String"},
                {name: 'usuarioCodigo', type: "String"},
                {name: 'usuarioFecha', type: "String"}
            ],
            addrow: function (rowid, rowdata, position, commit) {
                    commit(true);
            },
            updaterow: function (rowid, rowdata, commit) {
                    commit(true);
            },
            id: 'tipoCombustible',
            url: "../AsignacionCombustibleDetalle",
            data: {mode: 'G', periodo: $('#cbo_Periodo').val(), brigada: $('#cbo_Brigada').val(), mes: $('#cbo_Mes').val(), tipoAsignacion: $('#cbo_TipoAsignacion').val()}
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#div_GrillaPrincipal").jqxGrid({source: dataAdapter});
        $('#div_GrillaPrincipal').jqxGrid('clearselection');
    }

    //FUNCION PARA GRABAR LOS DATOS DE LA VENTANA PRINCIPAL
    function fn_GrabarDatos() {
        var periodoS = $('#cbo_Periodo').val();
        var brigadaS = $('#cbo_Brigada').val();
        var mesS = $('#cbo_Mes').val();
        var tipoAsignacionS = $('#cbo_TipoAsignacion').val();
        var listFinal = '';
        if(mode==='S'){
            var rows = $('#div_GrillaPrincipal').jqxGrid('getrows');
            var lista = [];
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                periodoS = row.periodo;    
                brigadaS = row.usuarioCreador;
                mesS = row.fechaCreador;
                tipoAsignacionS = row.usuarioCodigo;
                var result = row.usuarioFecha+"-"+row.cantidad;
                lista.push(result);
            }

            listFinal = JSON.stringify(lista).replaceAll('"', '').replaceAll('[', '').replaceAll(']', '');
        }
        
        
        var json = {mode: mode, periodo: periodoS, brigada: brigadaS, mes: mesS,
                tipoAsignacion: tipoAsignacionS, arrayDetalle: listFinal};
        console.log(json);
        
        $.ajax({
            type: "GET",
            url: "../IduAsignacionCombustibleAprobacion",
            data: {mode: mode, periodo: periodoS, brigada: brigadaS, mes: mesS,
                tipoAsignacion: tipoAsignacionS, arrayDetalle: listFinal},
            success: function (data) {
                msg = data;
                if (msg === "GUARDO") {
                    $.confirm({
                        title: 'AVISO DEL SISTEMA',
                        content: 'Datos procesados correctamente!!',
                        type: 'green',
                        typeAnimated: true,
                        autoClose: 'cerrarAction|1000',
                        buttons: {
                            cerrarAction: {
                                text: 'Cerrar',
                                action: function () {
                                    fn_CargarBusqueda();
                                }
                            }
                        }
                    });
                } else {
                    $.alert({
                        theme: 'material',
                        title: 'AVISO DEL SISTEMA',
                        content: msg,
                        animation: 'zoom',
                        closeAnimation: 'zoom',
                        type: 'red',
                        typeAnimated: true
                    });
                }
            }
        });
    }
   
</script>
<div id='div_Titulo' style="border: none;">
    <div class="jqx-hideborder">LISTADOS DE ASIGNACIÓN DE COMBUSTIBLE</div>
    <div>
        <div id="div_Cabecera">
            <table class="navy">
                <tbody>
                    <tr> 
                        <td class="Titulo">Período : </td>
                        <td>
                            <select id="cbo_Periodo" name="cbo_Periodo">
                                <option value="0">Seleccione</option>
                                <span th:each="periodo : ${session.objPeriodos}">
                                    <option th:value="${periodo.codigo}"><span th:text="${periodo.codigo}"> </span></option>
                                </span>
                            </select>
                        </td>
                        <td class="Titulo">Brigada : </td>
                        <td>
                            <select id="cbo_Brigada" name="cbo_Brigada">
                                <option value="0">Seleccione</option>
                                <span th:each="brigada : ${session.objBrigadas}">
                                    <option th:value="${brigada.codigo}"><span th:text="${brigada.descripcion}"> </span></option>
                                </span>
                            </select>
                        </td>
                        <td class="Titulo">Mes : </td>
                        <td>
                            <select id="cbo_Mes" name="cbo_Mes">
                                <option value="0">Seleccione</option>
                                <span th:each="mes : ${session.objMeses}">
                                    <option th:value="${mes.codigo}"><span th:text="${mes.descripcion}"> </span></option>
                                </span>
                            </select>
                        </td>
                        <td class="inputlabel">Tipo Asignación : </td>
                        <td>
                            <select id="cbo_TipoAsignacion" name="cbo_TipoAsignacion">
                                <option value="0">Seleccione</option>
                            </select>
                        </td>
                        <td><a href="javascript: fn_CargarBusqueda();"><img src="../images/Botones/refresh42.gif" alt="Buscar Datos" name="imgrefresh" width="30" height="28" border="0" id="imgrefresh"></a></td>
                        <td><a href="javascript: fn_MenuPrincipal();"><img src="../images/Botones/exit42.gif" alt="Salir de pantalla" name="imgexit" width="30" height="28"  border="0" id="imgexit" /></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="div_GrillaPrincipal"></div>
    </div>
</div>
<!--<div id='div_ContextMenu' style='display: none;'>
    
</div>-->


